In [1]:
print('hello')

hello

mama je t'aime

Les variables

---

In [6]:
days = 365;

In [7]:
days

365

In [8]:
spain = 92
france = 76
canada = 52

In [9]:
#print (affiche les variables)
print(spain)

92

In [10]:
print(france)

76

In [11]:
print(canada)

52

Les variables et types de données

---

In [12]:
# entier /integer

In [13]:
cameroun = 237

In [ ]:
#Numero a virgule ou float

In [14]:
cameroun_type = type(cameroun)
print(cameroun_type)

<class 'int'>

In [16]:
cameroun_exact = 237.5
print ( type(cameroun_exact))

<class 'float'>

In [17]:
# chaine de caractère ou String

In [18]:
hello ='hello'
hello_word ="hello word"

In [19]:
print(hello)
print(type(hello))

hello
<class 'str'>

In [20]:
# type boolean

In [23]:
true_type = True
false_type= False

In [24]:
print(true_type)
print(type(true_type))

True
<class 'bool'>

In [25]:
# conversion des types de données 
# str() pour convertir en chaine de caractères , int () pour convertir en entier

In [26]:
int_to_str = str(2)
print(int_to_str)
print(type(int_to_str))

2
<class 'str'>

In [27]:
str_to_int = int("3")
print(str_to_int)
print(type(str_to_int))

3
<class 'int'>

In [28]:
#addition

In [29]:
somme = 30 + 25
print (somme)

55

In [31]:
a = 30 
b=5
sum_a_b = a+b
print(sum_a_b)

35

In [ ]:
#puissance ** l'exposant

In [33]:
square =  b** 3
print (square)

125

In [34]:
# multiplication

In [35]:
multipli= a*b
print(multipli)

150

In [36]:
divide = 5/3
print(divide)

1.6666666666666667

Creation d'une liste

In [37]:
months =[]

In [39]:
months.append(1)
months.append('janvier')
months.append(2)
months.append('fevrier')
print(months)
print(type(months))

[1, 'janvier', 2, 'fevrier', 1, 'janvier', 2, 'fevrier']
<class 'list'>

In [40]:
temperatures =[ 'france', 128 , 'spain', 234, ]
temperatures.append('USA')
temperatures.append(345)
print(temperatures)

['france', 128, 'spain', 234, 'USA', 345]

In [47]:
countries =[]
temperatures = []
countries.append('France')
countries.append('spain')
countries.append('canada')
temperatures.append(125.5)
temperatures.append(124.0)
temperatures.append(105.2)
France = countries[0]
France_temperature = temperatures[0]
print(France)
print(France_temperature)

France
125.5

Training

In [1]:
# len()permet de recuperer le nombre d'elements d'une liste length

In [4]:
temperatures =[ 'france', 128 , 'spain', 234, ]
print(len(temperatures))

4

In [5]:
countries = ['France','spain','USA','Canada','Australia','Argentina']
temperatures=[125.5 , 124.0, 131.1, 105.2,112.5,128.3]
countries_slice= countries[0:3]
temperatures_slice = temperatures[len(temperatures)-4:len(temperatures)]
print(countries_slice)
print(temperatures_slice)

['France', 'spain', 'USA']
[131.1, 105.2, 112.5, 128.3]

### ouverture d'un fichier

In [6]:
#open(nom du fichier , type de lecture)

In [8]:
open("python.txt","r")

In [12]:
f= open("python.txt","r")

### Lecture de fichier

In [13]:
#read()

In [14]:
g= f.read()
print(g)

Je lis mon premier fichier !!!

In [16]:
data0 = open("departements_fr.csv","r")
data = data0.read()
print(data)

Ain,643309
Aisne,554040
Allier,353262
Alpes-de-Haute-Provence,166298
Alpes-Maritimes,1098785
Ardèche,332051
Ardennes,287775
Ariège,158076
Aube,316098
Aude,375065
Aveyron,289901
Bas-Rhin,1131812
Bouches-du-Rhône,2035475
Calvados,708407
Cantal,152400
Charente,366787
Charente-Maritime,656046
Cher,318590
Corrèze,249684
Corse-du-Sud,154100
Côte-d'Or,545001
Côtes-d'Armor,617413
Creuse,124948
Deux-Sèvres,384655
Dordogne,428651
Doubs,549155
Drôme,514104
Essonne,1286908
Eure,616076
Eure-et-Loir,445083
Finistère,935393
Gard,752382
Gers,197988
Gironde,1556663
Guadeloupe,406706
Guyane,254845
Haute-Corse,175499
Haute-Garonne,1344579
Haute-Loire,234078
Haute-Marne,186698
Hautes-Alpes,145213
Haute-Saône,246022
Haute-Savoie,806447
Hautes-Pyrénées,236577
Haute-Vienne,384708
Haut-Rhin,775941
Hauts-de-Seine,1617484
Hérault,1127333
Ille-et-Vilaine,1060051
Indre,232802
Indre-et-Loire,619004
Isère,1271938
Jura,270826
La Réunion,541487
Landes,414090
Loire,774262
Loire-Atlantique,1382766
Loiret,688098
Loir-et-Cher,344121
Lot,180016
Lot-et-Garonne,343198
Lozère,80423
Maine-et-Loire,829156
Manche,518322
Marne,584297
Martinique,390252
Mayenne,317716
Meurthe-et-Moselle,746687
Meuse,197763
Morbihan,764338
Moselle,1065894
Nièvre,221048
Nord,2640622
Oise,838646
Orne,297109
Paris,2243739
Pas-de-Calais,1497668
Puy-de-Dôme,661248
Pyrénées-Atlantiques,688451
Pyrénées-Orientales,474842
Rhône,1833002
Saône-et-Loire,574229
Sarthe,583961
Savoie,440777
Seine-et-Marne,1400477
Seine-Maritime,1284107
Seine-Saint-Denis,1582139
Somme,583641
Tarn,396341
Tarn-et-Garonne,258696
Territoire de Belfort,147647
Val-de-Marne,1377511
Val-d'Oise,1221946
Var,1055745
Vaucluse,566592
Vendée,681469
Vienne,444347
Vosges,386978
Yonne,352433
Yvelines,1449398

In [17]:
type(data)

str

## Trainning

In [18]:
#split permet de changer des chaines de caracteres en listes

In [19]:
rows= data.split("\n")
print(rows[0:5])

['Ain,643309', 'Aisne,554040', 'Allier,353262', 'Alpes-de-Haute-Provence,166298', 'Alpes-Maritimes,1098785']

### Les boucles/ loop

In [9]:
cities = ["paris","madrid","rome"]
for city in cities:
 print(city)
 print(city)

paris
paris
madrid
madrid
rome
rome

### Tranning sur la boucle for

In [17]:
data0 = open("departements_fr.csv","r")
data = data0.read()
rows= data.split("\n")
ten_rows =rows[0:10]
for row in ten_rows:
    print(row)

Ain,643309
Aisne,554040
Allier,353262
Alpes-de-Haute-Provence,166298
Alpes-Maritimes,1098785
Ardèche,332051
Ardennes,287775
Ariège,158076
Aube,316098
Aude,375065

## Les listes des listes

In [19]:
cities_number = ["paris,45", "madrid,75", "rome,125"]
final_list = []
for row in cities_number:
    split_row = row.split(',')
    final_list.append(split_row)
print(final_list)

[['paris', '45'], ['madrid', '75'], ['rome', '125']]

In [20]:
print(final_list[1])

['madrid', '75']

### Trainning sur les listes des listes

In [24]:
final_data = []
for row in rows:
    split_row = row.split(',')
    final_data.append(split_row)
print(final_data[0:5])

[['Ain', '643309'], ['Aisne', '554040'], ['Allier', '353262'], ['Alpes-de-Haute-Provence', '166298'], ['Alpes-Maritimes', '1098785']]

### Recuperation et affichage des éléments d'une liste de listes

In [26]:
first_final_data_value = final_data[0][0] # 1ere liste 1er element
print(first_final_data_value)

Ain

### Boucles à travers une liste de listes

In [28]:
five_elements = final_data[0:5]
departements_list = []
# recuperation des elements d'une facon manuel
departements_list.append(final_data[0][0])
departements_list.append(final_data[1][0])
departements_list.append(final_data[2][0])
departements_list.append(final_data[3][0])
departements_list.append(final_data[4][0])
print(departements_list)

['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence', 'Alpes-Maritimes']

In [32]:
# recuperons la population de chaque département avec des boucles
populations_list = []
for population_list in five_elements:
        departement_population = population_list[1]
        populations_list.append(departement_population)
print(populations_list)

['643309', '554040', '353262', '166298', '1098785']

### Trainning sur la recuperation d'une liste de listes

In [38]:
# créons une liste et recuperons tous les noms des departements francais et mettons cela a l'intérieur 
departement_list=[]
for row in final_data:
    name_departement = row[0]
    departement_list.append(name_departement)
print(departement_list)

['Ain', 'Aisne', 'Allier', 'Alpes-de-Haute-Provence', 'Alpes-Maritimes', 'Ardèche', 'Ardennes', 'Ariège', 'Aube', 'Aude', 'Aveyron', 'Bas-Rhin', 'Bouches-du-Rhône', 'Calvados', 'Cantal', 'Charente', 'Charente-Maritime', 'Cher', 'Corrèze', 'Corse-du-Sud', "Côte-d'Or", "Côtes-d'Armor", 'Creuse', 'Deux-Sèvres', 'Dordogne', 'Doubs', 'Drôme', 'Essonne', 'Eure', 'Eure-et-Loir', 'Finistère', 'Gard', 'Gers', 'Gironde', 'Guadeloupe', 'Guyane', 'Haute-Corse', 'Haute-Garonne', 'Haute-Loire', 'Haute-Marne', 'Hautes-Alpes', 'Haute-Saône', 'Haute-Savoie', 'Hautes-Pyrénées', 'Haute-Vienne', 'Haut-Rhin', 'Hauts-de-Seine', 'Hérault', 'Ille-et-Vilaine', 'Indre', 'Indre-et-Loire', 'Isère', 'Jura', 'La Réunion', 'Landes', 'Loire', 'Loire-Atlantique', 'Loiret', 'Loir-et-Cher', 'Lot', 'Lot-et-Garonne', 'Lozère', 'Maine-et-Loire', 'Manche', 'Marne', 'Martinique', 'Mayenne', 'Meurthe-et-Moselle', 'Meuse', 'Morbihan', 'Moselle', 'Nièvre', 'Nord', 'Oise', 'Orne', 'Paris', 'Pas-de-Calais', 'Puy-de-Dôme', 'Pyrénées-Atlantiques', 'Pyrénées-Orientales', 'Rhône', 'Saône-et-Loire', 'Sarthe', 'Savoie', 'Seine-et-Marne', 'Seine-Maritime', 'Seine-Saint-Denis', 'Somme', 'Tarn', 'Tarn-et-Garonne', 'Territoire de Belfort', 'Val-de-Marne', "Val-d'Oise", 'Var', 'Vaucluse', 'Vendée', 'Vienne', 'Vosges', 'Yonne', 'Yvelines']