# Projet : explorer les naissances aux USA depuis 2000

## Introduction aux dataset

In [2]:
us = open('US_births_2000-2014.csv','r').read()
us_split = us.split("\n")
print(us_split[0:10])

['year,month,date_of_month,day_of_week,births', '2000,1,1,6,9083', '2000,1,2,7,8006', '2000,1,3,1,11363', '2000,1,4,2,13032', '2000,1,5,3,12558', '2000,1,6,4,12466', '2000,1,7,5,12516', '2000,1,8,6,8934', '2000,1,9,7,7949']

## 2: convertir la data en liste de liste

In [16]:
def read_csv(file):
    u=open(file,'r').read()
    us=u.split("\n")
    us_int = us[1:]
    final_us_list= []
    for usa in us_int:
        usa_split = usa.split(",")
        us_list=[]
        for row in usa_split:
             us_list.append(int(row))
        final_us_list.append(us_list)           
    return(final_us_list)
us_births_list = read_csv('US_births_2000-2014.csv')
print(us_births_list[0:10])

[[2000, 1, 1, 6, 9083], [2000, 1, 2, 7, 8006], [2000, 1, 3, 1, 11363], [2000, 1, 4, 2, 13032], [2000, 1, 5, 3, 12558], [2000, 1, 6, 4, 12466], [2000, 1, 7, 5, 12516], [2000, 1, 8, 6, 8934], [2000, 1, 9, 7, 7949], [2000, 1, 10, 1, 11668]]

## 3: calcul le nombre de naissances par mois

In [17]:
def months_births(us):
    us_months={}
    
    for rows in us :
        month = rows[1]
        birth = rows[4]
        if month in us_months:
            us_months[month] +=birth
        else:
            us_months[month] = birth
    return (us_months)
us_months_births= months_births(us_births_list)
print(us_months_births)

{1: 5072588, 2: 4725693, 3: 5172961, 4: 4960750, 5: 5195445, 6: 5163360, 7: 5450418, 8: 5540170, 9: 5399592, 10: 5302865, 11: 5008750, 12: 5194432}

## 4: Calcul du nombre de naissance par jour de la semaine

In [27]:
def day_births(us):
    us_day_births={}
    
    for rows in us :
        day_week = rows[3]
        birth = rows[4]
        if day_week in us_day_births:
            us_day_births[day_week] +=birth
        else:
            us_day_births[day_week] =birth
    return (us_day_births)
us_day_births= day_births(us_births_list)
print(us_day_births)

{6: 6704495, 7: 5886889, 1: 9316001, 2: 10274874, 3: 10109130, 4: 10045436, 5: 9850199}

## Creation d'une fonction plus generale

In [31]:
def cal_counts(list,column):
    births_per_col={}
    for li in list:
        id = li[column]
        births= li[4]
        if id in births_per_col:
            births_per_col[id] +=births
        else:
              births_per_col[id] =births
    return (births_per_col)
us_year_births=cal_counts(us_births_list,0)
print(us_year_births)

{2000: 4149598, 2001: 4110963, 2002: 4099313, 2003: 4163060, 2004: 4186863, 2005: 4211941, 2006: 4335154, 2007: 4380784, 2008: 4310737, 2009: 4190991, 2010: 4055975, 2011: 4006908, 2012: 4000868, 2013: 3973337, 2014: 4010532}